<section class="statistics">
	<div class="container section-container">
		<div class="error-panel">
			<i class="fa fa-exclamation-circle"> </i>
			<span> Drafts must be published before they can be listed on the marketplace. </span>
		</div>
		<h1>
			<i class="fa fa-search"> </i>
			<span> 0 Views </span>
		</h1>
		<div id="plot">
	</div>
</section>

<section class="add-app">
	<div class="section-container action-container text-center">
		<div class="container">
			<h1> Add your app </h1>
			<a class="btn btn-white btn-see-through btn-lg" href="/app/create"> Add App </a>
		</div>
	</div>
</section>

<section class="apps">
	<div class="section-container">
		<h1 class="text-center"> My Apps </h1>
		<div class="container">
			<div class="card-group">
				<div class="row">
					<div class="col-md-6">
						<div class="card">
							<div class="card-overlay text-center">
								<div class="card-overlay-panel">
									<a class="btn btn-see-through" data-toggle="tooltip" title="Edit" href="/">
										<i class="fa fa-pencil"> </i>
									</a>
									<a class="btn btn-see-through" data-toggle="tooltip" title="Publish">
										<i class="fa fa-rocket"> </i>
									</a>
									<a class="btn btn-see-through" data-toggle="tooltip" title="Preview" href="/" target="_blank">
										<i class="fa fa-search"> </i>
									</a>
									<a class="btn btn-see-through" data-toggle="tooltip" title="Delete">
										<i class="fa fa-trash"> </i>
									</a>
								</div>
							</div>
							<div class="inDevelopment card-status text-center">
								Draft
							</div>
							<div class="card-content">
								<div class="row">
									<div class="col-md-4">
										<div class="card-image">
											<img>
										</div>
									</div>
									<div class="col-md-8">
										<div class="card-title">
											Card Title
										</div>
										<div class="card-summary">
											Card Summary
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>